name: K3s Runner Test
on: [push]

jobs:
  check-bats-version:
    runs-on: self-hosted
    steps:
      - name: Say Hello
        run: |
          echo "Hello from my k3s cluster!"
          hostname
          uptime
